@use "./mixins";

.personal-header {
  background-color: #131313;
  color: #fff;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mixins.sectionStyle;
}

.name {
  font-size: 48px;
}

.position {
  font-size: 24px;
}

.about {
  @include mixins.sectionStyle;
}
